page-home {
  .register-btn{
    
    margin-top: 40px;
  }
*{
  padding: 2px;
}

page-login {
  .button-md-primary{
      background-color: #445EA0 !important;
      border-radius: 20px !important;
      height: 45px !important;
      font-size: 16px !important;
  }
  .loginbtn{
      font-size: 16px;
      width: 50%;
      border-radius: 0px;
  }
  .toolbar-background {
      background: transparent !important;
    }
}


}