page-tasks {
.create{
    width: 60px !important;
    background: #0bb1d3 !important;
    
    color: #fff;
}

.delete{
    width: 60px !important;
    background: #9f2fff !important;
    
    color: #fff;
}
.item-md ion-avatar img{
    border-radius: 0%;
}
}
